<h2>Here's some stories!</h2>
{{#if stories}}
<div class="listBlock">
    {{#each stories}}
    <a class="listItem" href="/manage-stories/{{this.Id}}">
        <h3>{{this.Title}}</h3>
        <p>Story Id: {{this.Id}}</p>
        <p>Content warnings:</p>
        <ul>
            {{#each this.ContentWarning}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>Interesting info</p>
        <ul>
            {{#each this.TnterestingInfo}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </a>
    {{/each}}
</div>
{{/if}}