<h2>Here's some stories!</h2>
{{#if stories}}
<div class="listBlock">
    {{#each stories}}
    <a class="listItem" href="/manage-stories/{{this.Id}}">
        <h3>{{this.Title}}</h3>
        <div class="listItemRow">
            <p class="label">StoryId: </p>
            <p class="smaller">{{this.Id}}</p>
        </div>
        <p class="label">Content warnings:</p>
        <ul>
            {{#each this.ContentWarning}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p class="label">Interesting info</p>
        <ul>
            {{#each this.InterestingInfo}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </a>
    {{/each}}
</div>
{{/if}}